const { SlashCommandBuilder } = require('@discordjs/builders')

module.exports = {
    name: 'Command name',
    shortDesc: 'Short description',
    description: 'Long desc',
    structure: new SlashCommandBuilder()
    execute (interaction, bot) {
        /*...*/
    }
}